body {
    font-family: 'Fira Sans';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    font-family: 'Fira Sans';
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    position: relative;
}
.button {
    font-family: 'Fira Sans';
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.button:hover {
    background-color: #bbb;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 100%;
    width: 100%;
}
.slide img {
    width: 100%;
    height:auto;
    vertical-align: middle;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.hide {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content img {
    max-width: 100%;
    border-radius: 10px;
}

.button1 {
    top: 20px;
    right: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.button1:hover {
    background-color: #bbb;
}

.content1 {
    font-family: 'Fira Sans';
}  